*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: #004202;
}

.titulo {
    display: block;
    position:relative;
    z-index: 9999999;
    top: 30px;
    text-align: center;
    color: white;
}

.super{
    display: flex;
    position: absolute;
    z-index: 0;
    top: 0;
    height: 100px   ;
    width: 100vw;

}



.form-group {
    margin: 100px;
    margin-left: 40vw;
    width: 20vw;
    padding: 50px;
    border-radius: 20px;
    justify-content: center;
    background-color: #4CAF50;
}

.form-input {
    border-color: red;
    border-radius: 10px;
    height: 30px;

}

.texth2 {
    font-size: 2rem;
    font-weight: bolder;
}

.botones {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    
}
.listapedido {
    margin-top: 30px;
    color: white;
    display: flex;
    flex-direction: column;
    padding-left: 10vw;
}

.boton:hover{
    cursor: pointer;
}



.boton{
    background-color: #4CAF50; /* Green */
    border: 1px black solid;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
}