*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: #606c38;
}

.titulo {
    display: block;
    position:relative;
    z-index: 9999999;
    top: 30px;
    text-align: center;
    color: white;
}

.super{
    display: flex;
    position: absolute;
    z-index: 0;
    top: 0;
    height: 100px   ;
    width: 100vw;

}

.mainHeader{
    display: flex;
    align-items: center;
    padding-left: 10px;
    height: 100px;
    gap: 50px  ;
    color: white;
    background-color: #283618;
}

.botonesSesion{
   display: flex;
   gap: 15px ;
   margin-left: 50vw;
    
}

.productosIndex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    color: white;
    
}

.tituloProductos{
    display: flex;
    margin-left: 5vw;
    text-decoration: underline;
    margin-bottom: 10px;
}

.indexListaProductos{
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    margin-left: 5vw;
    width: 90%;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px black;
    gap: 50px   ;
    background-color: #283618;
}
.indexBoton{
    height: 30px;
}

.form-group {
    margin: 100px;
    margin-left: 40vw;
    width: 20vw;
    padding: 50px;
    border-radius: 20px;
    justify-content: center;
    background-color: #283618;
    color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 10px black;
}

.form-input {
    border-color: red;
    border-radius: 10px;
    height: 30px;

}

.texth2 {
    font-size: 2rem;
    font-weight: bolder;
}

.botones {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    
}
.listapedido {
    margin-top: 30px;
    color: white;
    display: flex;
    flex-direction: column;
    padding-left: 10vw;
}

.boton:hover{
    cursor: pointer;
}



.boton{
    background-color: #283618;
    color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 10px black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
}

.main-body {
    background-color: #606c38;
}

.main-header{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
    margin-top: 20px;
}


.recuadroSignIn{
    color: white;
    background-color: #283618;
    display: flex;
    border-radius: 10px;
    box-shadow: 10px 10px 10px black;
    padding: 10px;
    margin: 10px;
    width: 50vw;
    margin-left: 25vw;
}

.form-SignIn{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
}